.pn-font-tester{
width:100%;
color:currentColor;
}

.pn-head{
display:flex;
justify-content:space-between;
letter-spacing:.25em;
border-bottom:1px solid currentColor;
padding-bottom:30px;
margin-bottom:40px;
}

.pn-controls{
display:flex;
gap:50px;
margin-bottom:35px;
}

.pn-control{
flex:1;
}

.pn-control label{
display:flex;
justify-content:space-between;
font-size:11px;
letter-spacing:.2em;
margin-bottom:12px;
text-transform:uppercase;
}

.pn-control input{
width:100%;
}

.pn-styles{
display:flex;
gap:25px;
margin-bottom:40px;
}

.pn-styles button{
background:none;
border:0;
color:currentColor;
cursor:pointer;
opacity:.4;
}

.pn-styles button.active{
opacity:1;
text-decoration:underline;
}

.pn-canvas{
width:100%;
height:auto;
display:block;
border-top:1px solid currentColor;
border-bottom:1px solid currentColor;
}

.pn-input{
position:absolute;
opacity:0;
left:-9999px;
}